.container{
display: flex;
/* flex-direction: column; */
/* flex-wrap: wrap-reverse; */
/* justify-content: flex-end; */
align-items: flex-start; 
/* align-content: space-between; */
/* flex-flow: {flex-direction} {flex-wrap} */
flex-flow: row wrap;
width: 400px;
height: 400px;
background-color:orange;
}

.item{
    background-color: rgb(252, 0, 105);
    width: 40px;
    height: 50px;

}

.container-matcha{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 90%;
    margin: 50px auto;
}

.item-matcha, .item-matcha>img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}